@{
    ViewBag.Title = "Case";
}
<link rel="stylesheet" type="text/css" href="~/Content/rs-plugin/css/settings.css" media="screen" />


<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>安装案例</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">安装案例</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>

    <section class="colon14">

        <!-- START CONTENT AND SIDEBAR -->
        <div class="container">

            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/五星级酒店吴江海悦维保-1.jpg" class="zoombox effect-icona" data-biggallery="gallery1">
                            <img class="img-thumbnail" src="~/images/Case/五星级酒店吴江海悦维保-1.jpg" alt="">
                        </a>
                        <div class="gallery-box-hide">
                            <a href="~/images/Case/五星级酒店吴江海悦维保-2.jpg" class="zoombox effect-icona" data-biggallery="gallery1">
                                <img src="~/images/Case/五星级酒店吴江海悦维保-2.jpg" />
                            </a>
                        </div>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("五星级酒店吴江海悦维保", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/南京四五四解放军医院-2.jpg" class="zoombox effect-icona" data-biggallery="gallery3">
                            <img class="img-thumbnail" src="~/images/Case/南京四五四解放军医院-2.jpg" alt="">
                        </a>
                        <div class="gallery-box-hide">
                            <a href="~/images/Case/南京四五四解放军医院-1.jpg" class="zoombox effect-icona" data-biggallery="gallery3">
                                <img src="~/images/Case/南京四五四解放军医院-1.jpg" />
                            </a>
                        </div>
                        <div class="gallery-box-hide">
                            <a href="~/images/Case/南京四五四解放军医院-3.jpg" class="zoombox effect-icona" data-biggallery="gallery3">
                                <img src="~/images/Case/南京四五四解放军医院-3.jpg" />
                            </a>
                        </div>
                        <div class="gallery-box-hide">
                            <a href="~/images/Case/南京四五四解放军医院-4.jpg" class="zoombox effect-icona" data-biggallery="gallery3">
                                <img src="~/images/Case/南京四五四解放军医院-4.jpg" />
                            </a>
                        </div>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("南京四五四解放军医院", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/苏州农业大学热水工程-1.jpg" class="zoombox effect-icona" data-biggallery="gallery4">
                            <img class="img-thumbnail" src="~/images/Case/苏州农业大学热水工程-1.jpg" alt="">
                        </a>
                        <div class="gallery-box-hide">
                            <a href="~/images/Case/苏州农业大学热水工程-2.jpg" class="zoombox effect-icona" data-biggallery="gallery4">
                                <img src="~/images/Case/苏州农业大学热水工程-2.jpg" />
                            </a>
                        </div>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("苏州农业大学热水工程", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258352477.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258367009.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258378853.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258392713.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258405617.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258291181.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258339273.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258339273.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                    <div class="gallery-box">
                        <a href="~/images/Case/2014042258339273.jpg" class="zoombox effect-icona" data-biggallery="gallery5">
                            <img class="img-thumbnail" src="~/images/Case/2014042258339273.jpg" alt="">
                        </a>
                        <div class="gallery-box-link">
                            <h3>@Html.ActionLink("案列", "CaseDetail")</h3>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            
            </div><!-- end content -->

        </div><!-- end container -->
        <!-- END CONTENT -->

    </section><!-- end colon1 -->

    <div class="dmtop">Scroll to Top</div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/rs-plugin/js/jquery.themepunch.plugins.min.js");
    @Scripts.Render("~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js");
}
