@{
    ViewBag.Title = "首页";
}
<link rel="stylesheet" type="text/css" href="~/Content/rs-plugin/css/settings.css" media="screen" />

<section class="colon1">
    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="~/images/move1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 0 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="500" data-hoffset="40"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        这里也可以添加文字，位置，都可以自定义
                    </div>
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="500" data-hoffset="40"
                         data-y="140"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        图片原始高度是310像素. 现在拉升到了500像素。最好提供500像素高度的图片，宽度是1440。
                    </div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="100"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        &nbsp;&nbsp;节能&nbsp;&nbsp;
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="100"
                         data-y="170"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        自动化霜                        
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="100"
                         data-y="240"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        &nbsp;&nbsp;安全&nbsp;&nbsp;
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="100"
                         data-y="310"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        模块化控制功能
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="100"
                         data-y="380"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        &nbsp;&nbsp;简便&nbsp;&nbsp;
                    </div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-100"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        &nbsp;&nbsp;耐用&nbsp;&nbsp;
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-100"
                         data-y="170"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        &nbsp;&nbsp;省钱&nbsp;&nbsp;
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-100"
                         data-y="240"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        自动定时开机功能
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-100"
                         data-y="310"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        &nbsp;&nbsp;环保&nbsp;&nbsp;
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-100"
                         data-y="380"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="3000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        适用范围广
                    </div>

                </li>

                <li data-transition="boxslide" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="~/images/move2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    
                </li>

                <li data-transition="boxslide" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="~/images/move3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                </li>
            </ul>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>

<section class="colon2">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-shopping-cart"></i>
                <header>
                    <h3>产品中心</h3>
                </header>
                <p>商用型热泵，家用型热泵，热源热泵。</p><p>你们可以添加你们要的文字</p><p>xxxxxxxxxxxx</p>
                @Html.ActionLink("read more", "ProductList")
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-wrench"></i>
                <header>
                    <h3>安装案例</h3>
                </header>
                <p>专业设计</p>
                <p>专业服务</p>
                <p>专业安装</p>
                <a class="readmore" href="#"></a>
                @Html.ActionLink("read more", "Case")
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-users"></i>
                <header>
                    <h3>售后服务</h3>
                </header>
                <p>技术更精，速度更快，价格更低。</p><p>24小时全天待命。</p><p>一经服务；定期回访</p>
                @Html.ActionLink("read more", "Case")
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-whatsapp"></i>
                <header>
                    <h3>联系我们</h3>
                </header>
                <p>感谢您对我们的支持，如果您对公司或者公司产品有任何意见、建议或者批评，请仔细填写以下表单，我们将会尽快处理并与您联系！</p>
                
                <div class="readmore">@Html.ActionLink("read more", "Contact")</div>
                
            </div>
        </div>
    </div>
</section>

<section class="colon10">
    <div class="container">

        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">

            <header>
                <h3><i class="icon-home"></i> 公司简介</h3>
            </header>
            <p>苏州陇赣机电工程有限公司是一家专业从事别墅地源热泵安装设计维护；工业空气能风干机完美方案提供者及工厂，酒店宾馆，医院学校宿舍企事业单位集中供热的优质服务商。</p>

            <p>公司拥有丰富的专业人才及雄厚的技术力量，公司从产品的研发，设计，安装及售后均处於同行业的前列；已经在苏州地区拥有八百多家的忠实用户：涵盖工厂宿舍；酒店宾馆，别墅及住宅小区...</p>

            <a class="btn btn-primary" href="#">更多</a>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">

            <header>
                <h3><i class="icon-user-md"></i> 售后服务</h3>
            </header>
            <p>百分之九十以上故障90分钟内解决，所修热泵部位保修45天</p>
            <p>二十四小时快速服务</p>
            <p>一经服务；定期回访</p>
            <a class="btn btn-primary" href="#">更多</a>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <header>
                <h3><i class="icon-newspaper-o"></i> 新闻中心</h3>
            </header>
            <div class="testimonials-slider">
                <div id="myCarouselV" class="carousel thumbnail fade">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="~/images/mc9.jpg" alt="">
                                <h4>@Html.ActionLink("低温空气能热水器技术助力燃煤锅炉被替换", "News")</h4>
                                <p>压缩机是空气能热水器的最核心的部件</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="~/images/jyx1.png" alt="">
                                <h4>@Html.ActionLink("空气能成为主流热水器产品是必然趋势", "News")</h4>
                                <p>近年来，随着空气能产业的快速崛起</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="~/images/mc10.jpg" alt="">
                                <h4>@Html.ActionLink("节能热水器：空气能和太阳能相互竞争", "News")</h4>
                                <p>同为节能产品，本该共谋发展</p>
                            </div>
                        </div>
                    </div><!-- end carousel -->
                    <a class="left carousel-control" href="#myCarouselV" data-slide="prev"><span class="icon-prev"></span></a>
                    <a class="right carousel-control" href="#myCarouselV" data-slide="next"><span class="icon-next"></span></a>
                </div><!-- myCarouselV -->
            </div>

        </div>


    </div>
</section>

@section Scripts {
    @Scripts.Render("~/Content/rs-plugin/js/jquery.themepunch.plugins.min.js");
    @Scripts.Render("~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js");
}
