@{
    ViewBag.Title = "首页";
}
<link rel="stylesheet" type="text/css" href="~/Content/rs-plugin/css/settings.css" media="screen" />

<section class="colon1">
    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="~/images/move1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        HTML5 & CSS3
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="140"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        RESPONSIVE DESIGN
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="180"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        100+ VALID PAGE TEMPLATES
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="220"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        9 AWESOME SLIDER PLUGINS
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="260"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        15+ HOME EXAMPLES
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="300"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        15+ CUSTOM PAGE STYLES
                    </div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="340"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        LIMITLESS COLOR COMBINATIONS
                    </div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        WOOCOMMERCE SUPPORTED
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="140"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        BUDDYPRESS SUPPORTED
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="180"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        BBPRESS SUPPORTED
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="220"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        CUSTOM BLOG TEMPLATES
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="260"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="3000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        SEO OPTIMIZED
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="300"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="3200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        EASY TO USE FOR BEGINNERS
                    </div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="right" data-hoffset="-20"
                         data-y="340"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="3400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        24/7 SUPPORT VIA EMAIL
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="~/images/move2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        HTML5 & CSS3
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="~/images/move3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                         data-x="left" data-hoffset="40"
                         data-y="100"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        HTML5 & CSS3
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>

<section class="colon10">
    <div class="container">
        <div class="divider"></div>
        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">
            <a href="#">
                <img width="600" style="height:300px;" src="~/images/AnoutLeft.png" alt="">
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">
            <div class="about-widget">
                <header>
                    <h3><i class="icon-home"></i> 公司简介</h3>
                </header>
                <p>苏州陇赣机电工程有限公司是一家专业从事别墅地源热泵安装设计维护；工业空气能风干机完美方案提供者及工厂，酒店宾馆，医院学校宿舍企事业单位集中供热的优质服务商。</p>

                <p>公司拥有丰富的专业人才及雄厚的技术力量，公司从产品的研发，设计，安装及售后均处於同行业的前列；已经在苏州地区拥有八百多家的忠实用户：涵盖工厂宿舍；酒店宾馆，别墅及住宅小区...</p>

                <a class="btn btn-primary" href="#">更多</a>
            </div>
        </div>
    </div>
</section>

<section class="colon3">
    <div class="container">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <h2 class="general-title">
                <span>安装案例</span>
            </h2>
            <div class="recent-posts">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-with-sidebar.html" title="">
                                <img src="~/images/an1.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-with-sidebar.html" title="">
                            <h3>别墅地源热泵</h3>
                        </a>
                        <p>别墅施工中</p>
                        <a class="readmore" href="single-with-sidebar.html">read more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-with-sidebar.html" title="">
                                <img src="~/images/an2.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-with-sidebar.html" title="">
                            <h3>案例</h3>
                        </a>
                        <p>陇赣机电工程有限公司是一家立足於苏州服务长三角的专业空气能热泵；别墅地源热泵的杰岀公司。</p>
                        <a class="readmore" href="single-with-sidebar.html">read more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-with-sidebar.html" title="">
                                <img src="demos/06_demo.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-with-sidebar.html" title="">
                            <h3>Custom Design Medicine Bag Photoshop</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                        <a class="readmore" href="single-with-sidebar.html">read more</a>
                    </div>
                </div>
            </div><!-- recent posts -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="clearfix"></div>
            <h2 class="general-title">
                <span>Happy Testimonials</span>
            </h2>
            <div class="testimonials-slider">
                <div id="myCarouselV" class="carousel thumbnail fade">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="demos/01_team.png" alt="">
                                <h4>John DOE</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="demos/02_team.png" alt="">
                                <h4>Bob STURT</h4>
                                <p>Suscipit illo voluptas aperiam repudiandae impedit quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperia.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="demos/03_team.png" alt="">
                                <h4>Alex DESOUZA</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies.</p>
                            </div>
                        </div>
                    </div><!-- end carousel -->
                    <a class="left carousel-control" href="#myCarouselV" data-slide="prev"><span class="icon-prev"></span></a>
                    <a class="right carousel-control" href="#myCarouselV" data-slide="next"><span class="icon-next"></span></a>
                </div><!-- myCarouselV -->
            </div><!-- testimonials-slider -->
        </div><!-- end col4 -->
    </div>
</section>

<section class="colon3">
    <div class="container">
        <div class="message text-center" data-effect="slide-bottom">
            <h2>产品展示</h2>
        </div>

        @for (int i = 1; i <= 8; i++)
        {
            string imgUrl = string.Format("~/images/mc{0}.png", i.ToString());

            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="gallery-box">
                    <a href="@Url.Content(@imgUrl)" class="zoombox effect-icona" data-biggallery="gallery4" data-biggallerythumbnail="@Url.Content(@imgUrl)">
                        <img src="@Url.Content(@imgUrl)" alt="">
                    </a>
                    <div class="gallery-box-titles">
                        <h3>From Island</h3>
                    </div><!-- gallery-box-titles -->
                </div>
            </div>
        }

        @for (int i = 9; i <= 12; i++)
        {
            string imgUrl = string.Format("~/images/mc{0}.jpg", i.ToString());

            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="gallery-box">
                    <a href="@Url.Content(@imgUrl)" class="zoombox effect-icona" data-biggallery="gallery4" data-biggallerythumbnail="@Url.Content(@imgUrl)">
                        <img src="@Url.Content(@imgUrl)" alt="">
                    </a>
                    <div class="gallery-box-titles">
                        <h3>From Island</h3>
                    </div><!-- gallery-box-titles -->
                </div>
            </div>
        }

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/Content/rs-plugin/js/jquery.themepunch.plugins.min.js");
    @Scripts.Render("~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js");
}
