@{
    ViewBag.Title = "首页";
}
<!-- LayerSlider styles -->
<link rel="stylesheet" href="~/Content/layerslider/css/layerslider.css" type="text/css">

<style>
    .colon9 .slider-wrapper {
        background: #ffffff;
        padding: 5px;
    }

    .ls-layer,
    .ls-layer * {
        font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        white-space: nowrap;
        font-weight: normal;
    }

    .l1-s1 {
        color: black;
        text-shadow: 0px 2px 3px #546223;
        font-size: 60px;
    }

    .l1-s1b {
        color: #706a6a;
        text-shadow: 0px 0px 10px #fff;
        font-size: 60px;
    }

    .l1-s2 {
        color: #054f8d;
        text-shadow: 0px 2px 3px #546223;
        font-size: 80px;
    }

    .l1-s2b {
        color: #5383ac;
        text-shadow: 0px 2px 3px #fff;
        font-size: 80px;
    }

    .l1-s3 {
        padding: 0px 10px;
        color: #f51111;
        text-shadow: none;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
    }


    .l2-plus1 {
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 50px;
        line-height: 50px;
        color: #eee;
        background: #2e69ad;
    }

    .l2-text1 {
        font-size: 30px;
        color: #f0f6fd;
    }

    .l2-text2 {
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        font-size: 30px;
        padding: 10px 25px 10px 25px;
        color: #2e69ad;
        background: #f0f6fd;
    }

    .l3-s1 {
        padding: 0px 10px;
        color: #004f8c;
        text-shadow: none;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
    }
    
    .l3-s2 {
        padding: 0px 10px;
        color: #f51111;
        text-shadow: none;
        font-size: 45px;
        font-style: italic;
        font-weight: bold;
    }

</style>

<section class="colon1">

    <!--LayerSlider begin-->

    <div id="layerslider-container">

        <div id="layerslider" style="width: 1440px; height: 500px; margin: 0px auto;">
            <div class="ls-layer" style="slidedelay: 7000;">
                <img src="~/images/move1.jpg" class="ls-bg">

                <h1 class="ls-s5 l1-s1" style="top:180px; left: 150px; slidedirection : top;">
                    节能科技
                </h1>
                <h1 class="ls-s2 l1-s1b" style="top:180px; left: 150px; slidedirection : fade; slideoutdirection : fade;durationin : 1700; durationout : 2700; easingin : easeInOutQuad; easingout : easeInOutQuad; delayin : 1500; showuntil : 1600;">
                    节能科技
                </h1>
                <h1 class="ls-s2 l1-s2" style="top:165px; left: 412px; slidedirection : top;  durationin : 2000; durationout : 1500; easingin : easeOutElastic; easingout : easeInOutQuint; delayin : 1500;">
                    畅想舒适生活
                </h1>
                <h1 class="ls-s2 l1-s2b" style="top:165px; left: 412px; slidedirection : fade; slideoutdirection : fade; durationin : 1700; durationout : 2700; easingin : easeInOutQuad; easingout : easeInOutQuad; delayin : 3500; showuntil : 600;">
                    畅想舒适生活
                </h1>
                <img class="ls-s2" id="sss" src="~/images/product-family.png" style="top: 110px; left: 1000px; slidedirection: top; delayin: 2000; slidedirection : fade; slideoutdirection : fade; easingin : easeOutQuint; scalein : 3; scaleout : 3;">
                <h2 class="ls-s2 l1-s3" style="top: 330px; left: 200px; slidedirection: left; durationin: 2000; durationout: 1000; easingin: easeOutElastic; easingout: easeInOutQuint; delayin: 2000; showuntil: 1700;">
                    超节能
                </h2>
                <h2 class="ls-s3 l1-s3" style="top: 330px; left: 327px; slidedirection: top; durationin: 1500; durationout: 1000; easingin: easeOutBack; easingout: easeInOutQuint; delayin: 2500; showuntil: 2300; ">
                    超安全
                </h2>
                <h2 class="ls-s2 l1-s3" style="top: 330px; left: 454px; slidedirection: right; durationin: 1000; durationout: 1000; delayin: 2000; showuntil: 2000; ">
                    超舒适
                </h2>

                <h5 class="ls-s3 l1-s3" style="top: 330px; left: 200px; slidedirection : fade; slideoutdirection : fade; easingin : easeOutQuint; delayin : 6500; scalein : 3; scaleout : 3;">
                    超节能 超安全 超舒适
                </h5>
            </div>



            <div class="ls-layer" style="slidedelay: 5000; transition2d: 76,77,78,79;">
                <img src="~/images/move2.jpg" class="ls-bg" alt="Slide background">

                <h5 class="ls-s-1 l2-plus1" style="top:120px; left: 70px; slidedirection : fade; slideoutdirection : fade; durationin : 750; durationout : 750; easingin : easeOutQuint; rotatein : 90; rotateout : 90; scalein : .5; scaleout : .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top:126px; left: 155px; slidedirection : left; slideoutdirection : left; durationout : 750; easingin : easeOutBack; scalein : .1; scaleout : .1;">
                    节能
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 120px; left: 270px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 2500; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 126px; left: 355px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 2500; scalein: .1; scaleout: .1;">
                    耐用
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 180px; left: 70px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 500; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 186px; left: 155px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 500; scalein: .1; scaleout: .1; ">
                    省钱
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 180px; left: 270px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 3000; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 186px; left: 355px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 3000; scalein: .1; scaleout: .1; ">
                    自动化霜
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 240px; left: 70px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 1000; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 246px; left: 155px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 1000; scalein: .1; scaleout: .1; ">
                    安全
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 240px; left: 270px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 3500; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 246px; left: 355px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 3500; scalein: .1; scaleout: .1; ">
                    自动定时开机功能
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 300px; left: 70px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 1500; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 306px; left: 155px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 1500; scalein: .1; scaleout: .1; ">
                    环保
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 300px; left: 270px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 4000; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 306px; left: 355px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 4000; scalein: .1; scaleout: .1; ">
                    模块化控制功能
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 360px; left: 70px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 2000; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 366px; left: 155px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 2000; scalein: .1; scaleout: .1; ">
                    简便
                </h5>

                <h5 class="ls-s-1 l2-plus1" style="top: 360px; left: 270px; slidedirection: fade; slideoutdirection: fade; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 4500; rotatein: 90; rotateout: 90; scalein: .5; scaleout: .5;">
                    +
                </h5>
                <h5 class="ls-s1 l2-text1" style="top: 366px; left: 355px; slidedirection: left; slideoutdirection: left; durationout: 750; easingin: easeOutBack; delayin: 4500; scalein: .1; scaleout: .1; ">
                    适用范围广
                </h5>

                <h5 class="ls-s-1 l2-text2" style="top: 380px; left: 990px; slidedirection: fade; slideoutdirection: fade; durationin: 450; easingin: easeOutQuart; easingout: easeInQuart; delayin: 1250; scalein: 0; scaleou: 3; showuntil: 51;">
                    商用型热泵
                </h5>
                <img class="ls-s2" src="~/images/product-business.png" style="top: 30px; left: 900px; slidedirection: top; slideoutdirection: right; durationin: 750; easingin: easeOutQuart; easingout: easeInQuart; delayin: 1000; showuntil: 1;">


                <h5 class="ls-s-1 l2-text2" style="top: 380px; left: 990px; slidedirection: fade; slideoutdirection: fade; durationin: 450; easingin: easeOutQuart; easingout: easeInQuart; delayin: 3050; scalein: 0; scaleout: 3; showuntil: 51;">
                    家用型热泵
                </h5>
                <img class="ls-s2" src="~/images/product-family.png" style="top: 30px; left: 920px; slidedirection: top; slideoutdirection: right; durationin: 750; easingin: easeOutQuart; easingout: easeInQuart; delayin: 2800; showuntil: 1; ">


                <h5 class="ls-s-1 l2-text2" style="top: 380px; left: 990px; slidedirection: fade; slideoutdirection: fade; durationin: 450; easingin: easeOutQuart; easingout: easeInQuart; delayin: 4550; scalein: 0; scaleou: 3;">
                    地源热泵
                </h5>
                <img class="ls-s2" src="~/images/product-ground.png" style="top: 100px; left: 900px; slidedirection: top; slideoutdirection: right; durationin: 750; easingin: easeOutQuart; easingout: easeInQuart; delayin: 4300;">


            </div>



            <div class="ls-layer" style="slidedelay: 5000; transition2d: 25;">
                <img src="~/images/move3.jpg" class="ls-bg">

                <h2 class="ls-s2 l3-s1" style="top: 60px; left: 550px; slidedirection: right; durationin: 2000; durationout: 1000; delayin: 500; easingin: easeOutQuint; scalein: 3; scaleout: 3; ">
                    售后我们技术更精
                </h2>
                <h2 class="ls-s3 l3-s1" style="top: 60px; left: 900px; slidedirection: right; durationin: 1500; durationout: 1000; delayin: 1500; easingin: easeOutQuint; scalein: 3; scaleout: 3; ">
                    速度更快
                </h2>
                <h2 class="ls-s2 l3-s1" style="top: 60px; left: 1090px; slidedirection: right; durationin: 1000; durationout: 1000; delayin: 2500; easingin: easeOutQuint; scalein: 3; scaleout: 3; ">
                    价格更低
                </h2>
                <h5 class="ls-s3 l3-s2" style="top: 130px; left: 875px; slidedirection : fade; slideoutdirection : fade; easingin : easeOutQuint; delayin : 3500; scalein : 3; scaleout : 3;">
                    24小时全天候待命
                </h5>
                <img class="ls-s2" id="sss" src="~/images/PhoneOffice.png" style="top: 266px; left: 900px; slidedirection: bottom; slideoutdirection: bottom; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 1000; scalein: .5;">
                <h5 class="ls-s-1 l3-s1" style="top: 260px; left: 1000px; slidedirection: bottom; slideoutdirection: bottom; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 1000; scalein: .5;">
                    13812755349
                </h5>
                <h5 class="ls-s-1 l3-s1" style="top: 310px; left: 1000px; slidedirection: bottom; slideoutdirection: bottom; durationin: 750; durationout: 750; easingin: easeOutQuint; delayin: 1000; scalein: .5; ">
                    15050101075
                </h5>
            </div>





        </div>

    </div>
        <!--LayerSlider end-->
   

</section>

<section class="colon2">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-shopping-cart"></i>
                <header>
                    <h3>产品中心</h3>
                </header>
                <p>商用型热泵，家用型热泵，热源热泵。</p><p>你们可以添加你们要的文字</p><p>xxxxxxxxxxxx</p>
                @Html.ActionLink("read more", "ProductsList", null, new { @class = "readmore" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-wrench"></i>
                <header>
                    <h3>安装案例</h3>
                </header>
                <p>专业设计</p>
                <p>专业服务</p>
                <p>专业安装</p>

                @Html.ActionLink("read more", "Case", null, new { @class = "readmore" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-users"></i>
                <header>
                    <h3>售后服务</h3>
                </header>
                <p>技术更精，速度更快，价格更低。</p><p>24小时全天待命。</p><p>一经服务；定期回访</p>
                @Html.ActionLink("read more", "AfterSale", null, new { @class = "readmore" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-whatsapp"></i>
                <header>
                    <h3>联系我们</h3>
                </header>
                <p>感谢您对我们的支持，如果您对公司或者公司产品有任何意见、建议或者批评，请仔细填写以下表单，我们将会尽快处理并与您联系！</p>
                
                @Html.ActionLink("read more", "Contact", null, new { @class = "readmore" })
                
            </div>
        </div>
    </div>
</section>

<section class="colon10">
    <div class="container">

        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">

            <header>
                <h3><i class="icon-home"></i> 公司简介</h3>
            </header>
            <p>苏州陇赣机电工程有限公司是一家专业从事别墅地源热泵安装设计维护；工业空气能风干机完美方案提供者及工厂，酒店宾馆，医院学校宿舍企事业单位集中供热的优质服务商。</p>

            <p>公司拥有丰富的专业人才及雄厚的技术力量，公司从产品的研发，设计，安装及售后均处於同行业的前列；已经在苏州地区拥有八百多家的忠实用户：涵盖工厂宿舍；酒店宾馆，别墅及住宅小区...</p>

            @Html.ActionLink("更多", "About", null, new { @class = "btn btn-primary" })

        </div>


        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">

            <header>
                <h3><i class="icon-user-md"></i> 新闻中心</h3>
            </header>
            <p>南方天气转暖 如何避过用电高峰 <strong class="text-success">2014-4-5</strong></p>
            <p>北方仍处三月雪，南方桃花已盛开。东北三省依然是一片冰寒，部分南方沿海城市却已迎来早春，闽南漳、厦一带甚至一度回暖至20摄氏度。据预测，福建、海南等南方省市在接下来的四月份，气温将达到25摄氏度左右。一旦温度上升，用电高峰便难避免，那么如何应对用电高峰，保证洗浴舒适度与节约性呢？空气能热水器为此提供了良好的解决方式。</p>

            @Html.ActionLink("更多", "News", null, new { @class = "btn btn-primary" })
        </div>

        @*<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">

            <header>
                <h3><i class="icon-user-md"></i> 售后服务</h3>
            </header>
            <p>百分之九十以上故障90分钟内解决，所修热泵部位保修45天</p>
            <p>二十四小时快速服务</p>
            <p>一经服务；定期回访</p>
            <a class="btn btn-primary" href="#">更多</a>

        </div>*@

        @*<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <header>
                <h3><i class="icon-newspaper-o"></i> 新闻中心</h3>
            </header>
            <div class="testimonials-slider">
                <div id="myCarouselV" class="carousel thumbnail fade">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="~/images/mc9.jpg" alt="">
                                <h4>@Html.ActionLink("低温空气能热水器技术助力燃煤锅炉被替换", "News")</h4>
                                <p>压缩机是空气能热水器的最核心的部件</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="~/images/jyx1.png" alt="">
                                <h4>@Html.ActionLink("空气能成为主流热水器产品是必然趋势", "News")</h4>
                                <p>近年来，随着空气能产业的快速崛起</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <img class="img-thumbnail" src="~/images/mc10.jpg" alt="">
                                <h4>@Html.ActionLink("节能热水器：空气能和太阳能相互竞争", "News")</h4>
                                <p>同为节能产品，本该共谋发展</p>
                            </div>
                        </div>
                    </div><!-- end carousel -->
                    <a class="left carousel-control" href="#myCarouselV" data-slide="prev"><span class="icon-prev"></span></a>
                    <a class="right carousel-control" href="#myCarouselV" data-slide="next"><span class="icon-next"></span></a>
                </div><!-- myCarouselV -->
            </div>

        </div>*@


    </div>
</section>

@section Scripts {

@Scripts.Render("~/Content/layerslider/jQuery/jquery-easing-1.3.js");
@Scripts.Render("~/Content/layerslider/jQuery/jquery-transit-modified.js");

@Scripts.Render("~/Content/layerslider/js/layerslider.transitions.js");
@Scripts.Render("~/Content/layerslider/js/layerslider.kreaturamedia.jquery.js");

}
