<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="苏州陇赣机电工程有限公司是一家专注於苏州本土的新能源科技公司；公司拥有丰富的专业人才及雄厚的技术力量，公司从产品的研发，设计，安装及售后均处於同行业的前列；已经在苏州地区拥有八百多家的忠实用户：涵盖工厂宿舍；酒店宾馆，别墅及住宅小区，数年的光阴检验着我们优质的产品及全方位的专业关怀。" />
    <meta name="keywords" content="苏州陇赣机电工程有限公司,陇赣机电工程有限公司,苏州陇赣机电,陇赣机电工程" />
    <title>苏州陇赣机电工程有限公司</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <div id="preloader">
        <div id="status">
            &nbsp;
        </div>
    </div>
    <div id="wrapper">
        @*<div class="topbar">
                    <div class="container">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="tagline">联系我们： 0512-65653142</p>
                        </div>
                       <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul class="dm-social">
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-facebook" title="Facebook">Facebook</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-google-plus" title="Google+">Google+</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-twitter" title="Twitter">Twitter</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-pinterest" title="Pinterest">Pinterest</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-linkedin" title="Linkedin">Linkedin</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-rss" title="Feedburner">RSS</a></li>
                            </ul>
                        </div>
                </div>
            </div><!-- /topbar -->
        *@
        <header class="header-wrapper">
            <div class="container">
                <div>
                    <a class="cssLogo" href="@Url.Action("Index")"><img src="~/images/logo.jpg" alt=""></a>
                </div>

            </div><!-- /container -->
            <div class="container">
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <nav>
                        @Html.Partial("_Menu")
                    </nav><!-- /nav -->
                </div><!-- /col10 -->

            </div>
        </header><!-- /header wrapper -->
        @RenderBody()

        <footer class="footer-wrapper">
            <div class="container">
                <div class="col-lg-11 col-md-11 col-sm-10">
                    <div class="widget">
                        @*<h2 class="general-title">
                                <span>分享</span>
                            </h2>*@
                        <div class="bshare-custom icon-medium-plus"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-6">
                    <div class="widget">
                        @*<h2 class="general-title">
                                <span>分享</span>
                            </h2>*@
                        <img src="~/images/weixin.jpg" />
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright-wrapper">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <span class="copyright">
                        版权所有　苏州陇赣机电工程有限公司    <a href="http://www.miibeian.gov.cn" target="_blank">苏ICP备14012832号</a> 热线电话：0512-65653142
                    </span>
                </div>
                @*<div class="col-lg-6 col-md-6 col-sm-6">
                        <nav>
                            <ul class="footer-menu">
                                <li><a href="#" title="#">Home</a></li>
                                <li><a href="#" title="#">About</a></li>
                                <li><a href="#" title="#">Portfolio</a></li>
                                <li><a href="#" title="#">Shop</a></li>
                                <li><a href="#" title="#">Forums</a></li>
                                <li><a href="#" title="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>*@
            </div>
        </div>
        <div class="dmtop">Scroll to Top</div>
    </div><!-- /wrapper -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/rs-plugin")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        var revapi;
        jQuery(document).ready(function ()
        {
            if ($('.tp-banner').length == 0)
                return;

            revapi = jQuery('.tp-banner').revolution(
             {
                 delay: 9000,
                 startwidth: 1440,
                 //startheight: 310,
                 startheight: 500,
                 hideThumbs: 10,
                 fullWidth: "on",
                 forceFullWidth: "on",
                 lazyload: "on",
                 navigationStyle: "none"
             });
        });

        jQuery(document).ready(function ()
        {
            if ($('.zoombox').length == 0)
                return;

            $(".zoombox").zoomBox({
                extra_classes: 'nobtnsocial nobtnclose'
            });
        });

        var $ = jQuery.noConflict();
        $(window).load(function () {

            if ($('.flexslider').length == 0)
                return;

            $('.flexslider').flexslider({
                animation: "fade"
            });

            $(function () {
                $('.show_menu').click(function () {
                    $('.menu').fadeIn();
                    $('.show_menu').fadeOut();
                    $('.hide_menu').fadeIn();
                });
                $('.hide_menu').click(function () {
                    $('.menu').fadeOut();
                    $('.show_menu').fadeIn();
                    $('.hide_menu').fadeOut();
                });
            });
        });

    </script>


</body>
</html>
