<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <div class="topbar">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="tagline">Call us : +90 532 02 02 // Email us : hello@designingmedia.com</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="dm-social">
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-facebook" title="Facebook">Facebook</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-google-plus" title="Google+">Google+</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-twitter" title="Twitter">Twitter</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-pinterest" title="Pinterest">Pinterest</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-linkedin" title="Linkedin">Linkedin</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-rss" title="Feedburner">RSS</a></li>
                    </ul><!-- End Social -->
                </div>
            </div>
        </div><!-- /topbar -->

        <header class="header-wrapper">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <a class="cssLogo" href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <nav>
                        <ul id="jetmenu" class="jetmenu">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li>
                                <a href="#">Features</a>
                                <div class="megamenu full-width">
                                    <div class="row">
                                        <div class="col1">
                                            <ul>
                                                <li class="title"><h5>Home Examples</h5></li>
                                                <li><a href="shop-style.html">Shop Style</a></li>
                                                <li><a href="buddypress-style.html">BuddyPress Style</a></li>
                                                <li><a href="landing-page-style.html">Landing Page Style</a></li>
                                                <li><a href="portfolio-style.html">Portfolio Style</a></li>
                                                <li><a href="blog-style.html">Blog Style</a></li>
                                                <li><a href="home-1.html">Home Variation 1</a></li>
                                                <li><a href="home-2.html">Home Variation 2</a></li>
                                                <li><a href="home-3.html">Home Variation 3</a></li>
                                                <li><a href="home-4.html">Home Variation 4</a></li>
                                                <li><a href="home-5.html">Home Variation 5</a></li>
                                                <li><a href="home-6.html">Home Variation 6</a></li>
                                                <li><a href="home-7.html">Home Variation 7</a></li>
                                                <li><a href="home-8.html">Home Variation 8</a></li>
                                                <li><a href="home-9.html">Home Variation 9</a></li>
                                                <li><a href="home-10.html">Home Variation 10</a></li>
                                                <li><a href="#">Build your own!</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1">
                                            <ul>
                                                <li class="title"><h5>Page Templates</h5></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="team-members.html">Team Members</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="timeline.html">Timeline</a></li>
                                                <li><a href="404.html">Not Found</a></li>
                                                <li><a href="gallery.html">Gallery Page</a></li>
                                                <li><a href="sitemap.html">Sitemap Page</a></li>
                                                <li><a href="faq.html">FAQ Page</a></li>
                                                <li><a href="navigation-sidebar.html">Navigation Sidebar</a></li>
                                                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                                <li><a href="fullwidth.html">Full Width</a></li>
                                                <li><a href="login.html">Login / Register</a></li>
                                                <li><a href="maintenance.html">Maintenance Mode</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1">
                                            <ul>
                                                <li class="title"><h5>Portfolio Styles</h5></li>
                                                <li><a href="single-portfolio-1.html">Single Portfolio 1</a></li>
                                                <li><a href="single-portfolio-2.html">Single Portfolio 2</a></li>
                                                <li><a href="single-left-portfolio.html">Single Left Sidebar</a></li>
                                                <li><a href="single-right-portfolio.html">Single Right Sidebar</a></li>
                                                <li><a href="filterable-1.html">Filterable (1 Columns)</a></li>
                                                <li><a href="filterable-2.html">Filterable (2 Columns)</a></li>
                                                <li><a href="filterable-3.html">Filterable (3 Columns)</a></li>
                                                <li><a href="filterable-4.html">Filterable (4 Columns)</a></li>
                                                <li><a href="pagination-1.html">Pagination (1 Columns)</a></li>
                                                <li><a href="pagination-2.html">Pagination (2 Columns)</a></li>
                                                <li><a href="pagination-3.html">Pagination (3 Columns)</a></li>
                                                <li><a href="pagination-4.html">Pagination (4 Columns)</a></li>
                                                <li><a href="left-sidebar-portfolio.html">Left Sidebar Style</a></li>
                                                <li><a href="right-sidebar-portfolio.html">Right Sidebar Style</a></li>
                                                <li><a href="masonry-grid-portfolio.html">Masonry Grid Style</a></li>
                                                <li><a href="portfolio-by-category.html">Portfolio By Category</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1">
                                            <ul>
                                                <li class="title"><h5>Shop Styles</h5></li>
                                                <li><a href="single-shop-full.html">Single Shop Full</a></li>
                                                <li><a href="single-shop-sidebar.html">Single Shop Sidebar</a></li>
                                                <li><a href="shop-with-sidebar.html">Shop with Sidebar</a></li>
                                                <li><a href="shop-without-sidebar.html">Shop without Sidebar</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout Page</a></li>
                                                <li><a href="account.html">My Account</a></li>
                                            </ul>
                                            <ul>
                                                <li class="title"><h5>Headers</h5></li>
                                                <li><a href="header-1.html">Header Variation 1</a></li>
                                                <li><a href="header-2.html">Header Variation 2</a></li>
                                                <li><a href="header-3.html">Header Variation 3</a></li>
                                                <li><a href="header-4.html">Header Variation 4</a></li>
                                                <li><a href="header-5.html">Header Variation 5</a></li>
                                                <li><a href="header-6.html">Header Variation 6</a></li>
                                                <li><a href="header-7.html">Header Variation 7</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1">
                                            <ul>
                                                <li class="title"><h5>Sliders</h5></li>
                                                <li><a href="revolution-slider.html">Revolution Slider</a></li>
                                                <li><a href="layer-slider.html">Layer Slider</a></li>
                                                <li><a href="accordion-slider.html">Accordion Slider</a></li>
                                                <li><a href="flex-slider.html">Flex Slider</a></li>
                                                <li><a href="nivo-slider.html">Nivo Slider</a></li>
                                                <li><a href="mighty-slider.html">Mighty Slider</a></li>
                                                <li><a href="video-slider.html">Video Slider</a></li>
                                            </ul>
                                            <ul>
                                                <li class="title"><h5>BuddyPress</h5></li>
                                                <li><a href="activity.html">Activity</a></li>
                                                <li><a href="members.html">Members</a></li>
                                                <li><a href="single-member.html">Single Member</a></li>
                                                <li><a href="groups.html">Groups</a></li>
                                                <li><a href="single-group.html">Single Group</a></li>
                                                <li><a href="forums.html">Forums</a></li>
                                                <li><a href="single-forum.html">Single Forum</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1">
                                            <ul>
                                                <li class="title"><h5>Blog Styles</h5></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                                <li><a href="blog-two-columns.html">Blog Two Columns</a></li>
                                                <li><a href="blog-three-columns.html">Blog Three Columns</a></li>
                                                <li><a href="single-with-sidebar.html">Single with Sidebar</a></li>
                                                <li><a href="single-without-sidebar.html">Single without Sidebar</a></li>
                                                <li><a href="blog-archives.html">Blog Archives</a></li>
                                                <li><a href="blog-author-details.html">Blog Author Details</a></li>
                                            </ul>
                                            <ul>
                                                <li class="title"><h5>Others</h5></li>
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="retina-icons.html">Retina Icons</a></li>
                                                <li><a href="retina-images.html">Retina Images</a></li>
                                                <li><a href="#">Want more?</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Megamenu</a>
                                <div class="megamenu full-width">
                                    <div class="row">
                                        <div class="col2">
                                            <ul>
                                                <li class="title"><h5>Recent Posts Widget</h5></li>
                                                <li>
                                                    <div class="widget">
                                                        <ul class="recent-posts">
                                                            <li>
                                                                <div class="recent-posts-img">
                                                                    <a href="#" title="" rel="bookmark">
                                                                        <img width="60" height="60" src="demos/01_recent-widget.png" alt="" />
                                                                    </a>
                                                                </div>
                                                                <div class="recent-posts-content">
                                                                    <a href="#"><p>We are Live! What About You Our New Design?</p></a>
                                                                </div>
                                                                <ul class="post-date">
                                                                    <li><i class="icon-calendar"></i><a href="#" title=""> November 24st 2013</a></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="recent-posts-img">
                                                                    <a href="#" title="" rel="bookmark">
                                                                        <img width="60" height="60" src="demos/02_recent-widget.png" alt="" />
                                                                    </a>
                                                                </div>
                                                                <div class="recent-posts-content">
                                                                    <a href="#"><p>WordPress, BuddyPress and WooCommerce Compatible Theme</p></a>
                                                                </div>
                                                                <ul class="post-date">
                                                                    <li><i class="icon-calendar"></i><a href="#" title=""> November 24st 2013</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col2">
                                            <ul>
                                                <li class="title"><h5>Find us on Google Map</h5></li>
                                                <li>
                                                    <div class="widget">
                                                        @*<iframe class="google-map" src="http://maps.google.com/?ie=UTF8&amp;ll=40.748151,-73.985131&amp;spn=0.012355,0.021007&amp;t=m&amp;z=16&amp;output=embed"></iframe>*@
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col2">
                                            <ul>
                                                <li class="title"><h5>Add a Text Widget</h5></li>
                                                <li>
                                                    <div class="widget">
                                                        <p>This is an awesome Mega menu plugin included to the .zip! You can showcase your recent posts, video widgets or text widgets to this area!</p>
                                                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac.</p>
                                                        <ul class="dm-social">
                                                            <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-facebook" title="Facebook">Facebook</a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-google-plus" title="Google+">Google+</a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-twitter" title="Twitter">Twitter</a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-pinterest" title="Pinterest">Pinterest</a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-linkedin" title="Linkedin">Linkedin</a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-rss" title="Feedburner">RSS</a></li>
                                                        </ul><!-- End Social -->
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Shortcodes</a>
                                <ul class="dropdown">
                                    <li><a href="animations.html">Animations</a></li>
                                    <li><a href="buttons.html">Buttons</a></li>
                                    <li><a href="form-elements.html">Form Elements</a></li>
                                    <li><a href="tables.html">Table Elements</a></li>
                                    <li><a href="tabs.html">Tab Elements</a></li>
                                    <li><a href="accordion-toggle.html">Accordions / Toggles</a></li>
                                    <li><a href="alerts.html">Alert Elements</a></li>
                                    <li><a href="carousel.html">Carousel Elements</a></li>
                                    <li><a href="progress-bars.html">Progress Bars</a></li>
                                    <li><a href="columns.html">Columns</a></li>
                                    <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                    <li><a href="tooltips-popovers.html">Tooltips & Popovers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Dropdown</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#">Menu #1</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Menu #1</a></li>
                                            <li><a href="#">Menu #2</a></li>
                                            <li>
                                                <a href="#">Menu #3</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Sub Menu #1</a></li>
                                                    <li><a href="#">Sub Menu #2</a></li>
                                                    <li><a href="#">Sub Menu #3</a></li>
                                                    <li><a href="#">Sub Menu #4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Menu #4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu #2</a></li>
                                    <li><a href="#">Menu #3</a></li>
                                    <li><a href="#">Menu #4</a></li>
                                </ul>
                            </li>
                            <li class="right">
                                <div id="sb-search" class="sb-search">
                                    <form>
                                        <input class="sb-search-input" placeholder="Enter your search term..." type="search" value="" name="search" id="search">
                                        <input class="sb-search-submit" type="submit" value="">
                                        <span class="sb-icon-search"></span>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav><!-- /nav -->
                </div><!-- /col10 -->
            </div><!-- /container -->
        </header><!-- /header wrapper -->
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer class="footer-wrapper">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="general-title">
                            <span>About {NEVER}MIND</span>
                        </h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <a class="btn btn-primary btn-sm" href="#">read more</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="general-title">
                            <span>Flickr Stream</span>
                        </h2>
                        <ul class="flickr">
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/01_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/02_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/03_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/04_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/05_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/06_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/07_flickr.jpg" width="54" height="54" alt="" /></a></li>
                            <li><a href="#" title=""><img class="img-thumbnail img-rounded" src="demos/08_flickr.jpg" width="54" height="54" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="general-title">
                            <span>Twitter Stream</span>
                        </h2>
                        <div class="tweets">
                            <ul>
                                <li>
                                    <span class="content">
                                        Looking a special HTML5 CSS3 template for your works? Visit here
                                       
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="twitter-follow-button" data-show-count="false">Follow envato</a>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="general-title">
                            <span>Contact Details</span>
                        </h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac.</p>
                        <ul class="contact-details">
                            <li><i class="icon-home"></i> Lorem ipsum dolar sit amet / USA</li>
                            <li><i class="icon-mobile-phone"></i> +0 554 777 78 78</li>
                            <li><i class="icon-envelope-alt"></i> hello@designingmedia.com</li>
                            <li><i class="icon-map-marker"></i> <a href="#" title="View large map on Google">Google Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright-wrapper">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <span class="copyright">
                        © Copyright 2013 -
                        <a href="#">{NEVER}MIND</a> HTML5 Template by
                        <a href="http://www.designingmedia.com">Designing Media</a>
                    </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <nav>
                        <ul class="footer-menu">
                            <li><a href="#" title="#">Home</a></li>
                            <li><a href="#" title="#">About</a></li>
                            <li><a href="#" title="#">Portfolio</a></li>
                            <li><a href="#" title="#">Shop</a></li>
                            <li><a href="#" title="#">Forums</a></li>
                            <li><a href="#" title="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dmtop">Scroll to Top</div>
    </div><!-- /wrapper -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
