<ul id="jetmenu" class="jetmenu">
    <li>@Html.ActionLink("网站首页", "Index")</li>
    <li>
        @Html.ActionLink("公司简介", "About")
    </li>
    <li>
        @Html.ActionLink("产品展示", "ProductsList")
        <div class="megamenu full-width">
            <div class="row">
                <div class="col2">
                    <ul>
                        <li class="title"><h5>商用型热泵</h5></li>
                        <li>
                            <div class="widget">
                                <ul class="recent-posts">
                                    <li>
                                        <div class="recent-posts-img">
                                            <a href="#" title="" rel="bookmark">
                                                <img width="60" height="60" src="~/images/syrb1.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="recent-posts-content">
                                            <a href="#"><p>SYRB-B系列热泵热水机组</p></a>
                                        </div>
                                        <ul class="post-date">
                                            <li><i class="icon-cog"> </i><a href="#" title="">详情</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="recent-posts-img">
                                            <a href="#" title="" rel="bookmark">
                                                <img width="60" height="60" src="~/images/syrb2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="recent-posts-content">
                                            <a href="#"><p>SYRB-B系列热泵热水机组</p></a>
                                        </div>
                                        <ul class="post-date">
                                            <li><i class="icon-cog"></i> <a href="#" title="">详情</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col2">
                    <ul>
                        <li class="title"><h5>家用型热泵</h5></li>
                        <li>
                            <div class="widget">
                                <ul class="recent-posts">
                                    <li>
                                        <div class="recent-posts-img">
                                            <a href="#" title="" rel="bookmark">
                                                <img width="60" height="60" src="~/images/syrb1.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="recent-posts-content">
                                            <a href="#"><p>SYRB-B系列热泵热水机组</p></a>
                                        </div>
                                        <ul class="post-date">
                                            <li><i class="icon-cog"></i><a href="#" title="">详情</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="recent-posts-img">
                                            <a href="#" title="" rel="bookmark">
                                                <img width="60" height="60" src="~/images/syrb2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="recent-posts-content">
                                            <a href="#"><p>SYRB-B系列热泵热水机组</p></a>
                                        </div>
                                        <ul class="post-date">
                                            <li><i class="icon-cog"></i><a href="#" title="">详情</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </li>
    <li>@Html.ActionLink("新闻中心", "News")</li>
    <li>@Html.ActionLink("售后服务", "AfterSale") </li>
    <li>@Html.ActionLink("安装案例", "Case") </li>
    <li>@Html.ActionLink("联系我们", "Contact") </li>
    <li>@Html.ActionLink("十大优点", "Advantage") </li>
</ul>
